body {
  font-size: 8px;
  background-color: black;
  color: white;
}
nav {
  height: 60px;
  text-align: center;
  font-size: 14px;
}

.clearfix {
  overflow: auto;
}

button {
  height: 35px;
  width: 100px;
  margin-top: 2px;
}

button:visited {
  color: white;
}

.health {
  width: 100%;
  font-size: 12px;
  margin-top: 3px;
  border-top: 1px solid white;
}

.healthBar {
  width: 100%;
  background-color: green;
  height: 20px;
  position: fixed;
  z-index: -1;
}


.ascii {
  display: inline-block;
  background-color: green;
  width: 200px;
}

.shopprices {
  width: 100px;
  display: inline-block;
  background-color: red;
  margin-top: -250px;
}



.mainTitle {
  font-size: 14px;
}

.view {
  display: inline-block;
  border-top: 1px solid white;
  width: 100%;
}



.sidebar {
  font-size: 14px;
  width: 60px;
  height: 300px;
  display: inline-block;
  float: left;
}

.sidebar p {
  margin-top: 0px;
  padding-top: 0px;
}

.test {
  display: inline-block;
  text-align: center;
  width: 100%;

}


.wrap {
  margin-left: 60px;
  text-align: center;
  display: inline-block;
}

.wrap pre {
  text-align: left;
}

.asciiWrap {
  width: 360px;
  margin: auto;
}


.navMainInfo {
  text-align: left;
  margin-left: 3px;
}


.navCombatInfo {
  float: right;
  text-align: right;
}

.navText {
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  display: inline-block;
}


/* level */

.levelinfo {
  width: 100%;
  height: 50px;
  text-align: center;
}

.leveltextbox {
  height: 50px;
  width: 49.8%;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.leveltextbox p {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.levelenemyinfo {
  width: 49.8%;
  height: 50px;
  float: right;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: right;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.levelenemyinfo p {
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

.levelenemyhealth {
  height: 15px;
  width:  75px;
  border: 1px solid white;
  float: right;
  margin-right: 10px;
}

.levelenemyhealthcolor {
  background-color: green;
  width: 100%;
  height: 15px;
  margin-top: -12.5px;
}

.testdrop {
  position: absolute;
  display: none;
  width: 100px;
  margin-left: 3px;
  margin-top: -1px;
  float: left;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white
}

.testdrop p {
  border-bottom: 1px solid white;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.testdrop p:hover {
  background-color: grey;
}

.inline {
  display: inline;
  margin: -1px;
  padding: -1px;
}

.player {
  float: left;
}

.level {
  font-size: 8px;
}

#game {
  font-size: 14px;
  margin-top: 0px;
  margin-left: 5px;

  background-color: black;

}

.centerer {
  text-align: center;
}

.battleplayer {
  width: 50%;
  display: inline-block;
  float: left;
  height: 150px;
}

.battleenemy {
  width: 50%;
  display: inline-block;
  float: right;
  height: 150px;
}

.battleoptions {
  display: block;
  float: left;
  height: 38px;
  width: 100%;
  border-top: 1px solid white;
}



@media screen and (min-width: 768px) {

}
