body {
  font-size: 8px;
  background-color: black;
  color: white;
}
nav {
  height: 60px;
  text-align: center;
  font-size: 14px;
}

button {
  margin-top: 10px;
  height: 40px;
  width: 100px;
}

.mainTitle {
  font-size: 14px;
}

.view {
  display: inline-block;
}



.sidebar {
  font-size: 14px;
  width: 60px;
  height: 300px;
  display: inline-block;
  float: left;
}

.sidebar p {
  margin-top: 0px;
  padding-top: 0px;
}

.test {
  display: inline-block;
  text-align: center;
  width: 419px;
  border-top: 1px solid white;
  border-left: 1px solid white;

}


.wrap {
  margin-left: 60px;
  text-align: center;
  display: inline-block;
}

.wrap pre {
  text-align: left;
}

.asciiWrap {
  width: 360px;
  margin: auto;
}


.navMainInfo {
  float: left;
  text-align: left;
}

.navCombatInfo {
  float: right;
  text-align: right;
}

.navText {
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}

@media screen and (min-width: 768px) {

}
