body {
  font-size: 8px;
  background-color: black;
  color: white;
}
nav {
  height: 60px;
  text-align: center;
  font-size: 14px;
}

button {
  height: 35px;
  width: 100px;
  margin-top: 2px;
}

.health {
  width: 100%;
  font-size: 12px;
  margin-top: 3px;
  border-top: 1px solid white;
}

.healthBar {
  width: 100%;
  background-color: green;
  height: 20px;
  position: fixed;
  z-index: -1;
}


.ascii {
  display: inline-block;
  background-color: green;
  width: 200px;
}

.shopprices {
  width: 100px;
  display: inline-block;
  background-color: red;
  margin-top: -250px;
}



.mainTitle {
  font-size: 14px;
}

.view {
  display: inline-block;
  border-top: 1px solid white;
  width: 100%;
}



.sidebar {
  font-size: 14px;
  width: 60px;
  height: 300px;
  display: inline-block;
  float: left;
}

.sidebar p {
  margin-top: 0px;
  padding-top: 0px;
}

.test {
  display: inline-block;
  text-align: center;
  width: 100%;

}


.wrap {
  margin-left: 60px;
  text-align: center;
  display: inline-block;
}

.wrap pre {
  text-align: left;
}

.asciiWrap {
  width: 360px;
  margin: auto;
}


.navMainInfo {
  text-align: left;
  margin-left: 3px;
}


.navCombatInfo {
  float: right;
  text-align: right;
}

.navText {
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  display: inline-block;
}

@media screen and (min-width: 768px) {

}
