<div ng-controller = "MainController as vm">
	<div class = "row">
		<button>Home</button>
		<button>Inventory</button>
		<button>Map</button>
	</div><!--row-->
	<div class = "row">
		<div class = "healthbar">
			<div class = "healthbarinner" ng-style = "vm.player.healthWidth">
			</div>
			<p class = "alignvert">{{vm.player.health}} / {{vm.player.maxHealth}}</p>
		</div><!--healthbar-->
	</div><!--row-->
	<div class = "row">
		<p ng-click = "vm.test = vm.test + 1">test</p>
		<div id = "levelwrap">
		</div>
	</div><!--row-->
</div>


<!-- <div ng-controller = "InventoryController as vm">
	<h3>Weapons</h3>
	<select ng-model="weapon">
		<option ng-repeat = "item in vm.weapons track by $index">
			{{item[0][1].name}}
		</option>
	</select>
	<h3>Armor</h3>
	<select>
		<option ng-repeat = "item in vm.armor track by $index">
			{{item[0][1].name}}
		</option>
	</select>
</div>
 -->

<!-- <div ng-controller = "LevelController as vm">
	<div id = "levelwrap">
		<pre class = "levelrow" ng-repeat = "row in vm.currentLevel.ascii track by $index">{{row}}</pre>
	</div>
	<div class = "enemyinfo">
		<p class = "enemyname">{{vm.currentEnemy.name}}</p>
		<p class = "enemydesc">{{vm.currentEnemy.desc}}</p>

		<p ng-if="vm.currentEnemy.health">{{vm.currentEnemy.health}} / {{vm.currentEnemy.maxHealth}}</p>
	</div>
	<div class = "log" id = "log">
		<p ng-repeat = "message in vm.messageLog track by $index">{{message}}</p>
	</div>
</div> -->