@color_lightblue: #00BFFF;
@color_blue: #1171a3;
@color_success: #43c83c;
@color_warning: #f88529;
@color_important: #fa3031;
@color_violet: #932ab6;
@color_black: #191919;
@color_white: #f7f7f7;

* {
    /*-webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    -webkit-text-shadow: none !important;
    -ms-text-shadow: none !important;
    text-shadow: none !important;*/
    font-family: "Inconsolata";
    -webkit-font-smoothing: antialiased;
    /*font-weight: 400;*/
}

nav ul li {
    display: inline-block;
}

body {
    box-sizing: border-box;
    padding: 50px;
    background: @color_black;
    color: @color_white;
    font-family: 'Inconsolata';
}

div {
    box-sizing: border-box;
}

p, pre {
    float: left;
}

pre {
    font-size: 18px;
}
pre:nth-of-type(27) {
    clear: both;
}

.levelrow {
    display: block;
    float: none;
    margin: 0;
}

.loadwrap {
    width: 200px;
    height: 24px;
    border: 1px solid @color_white;
}

.gatherload.loading {
    width: 100px;
    background: @color_lightblue;
    height: 22px;
}

.levelwrap {
}

.levelwrap pre {
}
