@color_lightblue: #52b9e9;
@color_blue: #1171a3;
@color_success: #43c83c;
@color_warning: #f88529;
@color_important: #fa3031;
@color_violet: #932ab6;

* {
    /*-webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    -webkit-text-shadow: none !important;
    -ms-text-shadow: none !important;
    text-shadow: none !important;*/
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    /*font-weight: 400;*/
}

nav ul li {
    display: inline-block;
}

body {
    box-sizing: border-box;
    padding: 50px;
    background: #191919;
    color:  #f7f7f7;
}

div {
    box-sizing: border-box;
}

.loadwrap {
    width: 200px;
    height: 24px;
    border: 1px solid #f7f7f7;
}

.gatherload.loading {
    width: 100px;
    background: #00BFFF;
    height: 22px;
}

