<div class = "test">
	<div class = "levelinfo">
		<div class = "leveltextbox">
			<p ng-repeat = "text in textbox" sortBy = 'reverse'>
				: {{text}}
			</p>
		</div>
		<div class = "levelenemyinfo">
			<p class = "player">Player Damage</p>
			<p>Goblin</p>
			<p class = "player">Player Armor</p>
			<p>A Weird Dude</p>
			<div class = "levelenemyhealth">
				<p class = "levelenemyhealthtext">75</p>
				<div class = "levelenemyhealthcolor"></div>
			</div>
			<div class = "clearfix"></div>
		</div>
	</div>

	<div class = "battle">
		<div class = "battleplayer">
			<pre>
      _/ \_   O
      `(")' ,'|
   _ _,-H-./ /|
   \_\_\.   / |
     )" |  (  |
  __/   H   \_|
  \    /|\    |
   `--'|||`--'|
      ==^==
  </pre>
		</div><!--battleplayer-->
		<div class = "battleenemy">
			<pre>

        __/\__
   . _  \\''//
   -( )-/_||_\
    .'. \_()_/
     |   | . \
      |__ | .  \
       .'. , \_____'.

			</pre>
		</div><!--battlenemy-->
		<div class = "battleoptions">
			<button>this is a move<br>
			35 dmg -25 mana</button>
			<button>this is a another<br>
			0 dmg +20 mana</button>
			<button>this is the third<br>
			10 dmg 0 mana</button>
			<button>Switch <br>Fighter</button>
			<button>Items &<br>Options</button>
		</div>
	</div><!--battle-->
</div><!--test-->